$loading-background-color: #607D8B;
$loading-spinner-color: #fff;

.vuetifyAlert__noPadding {
  padding: 0;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.regTable {
  display: table;
  width: 100%;
}

.regTableRow {
  display: table-cell;
}

@import "loading.scss";
